/** @format */

html,
body {
  height: 100%;
  direction: rtl;
}
.main {
  width: calc(100% - 260px);
}
input,
textarea {
  border: 2px solid #d6d6d6;
  border-radius: 10px;
}
textarea:focus,
button:focus,
input:focus {
  outline: none;
}
.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 1px rgb(63 63 68 / 10%);
  background-color: #dfe3ff;
  margin-bottom: 30px;
  direction: rtl;
}
.cart {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}
.cart-hader {
  border-bottom: none;
  background: transparent;
  margin: 0px 15px 0;
  padding: 0;
  position: relative;
}
.cartIcon {
  border-radius: 3px;
  background-color: red;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(255 152 0 / 40%);
  margin-bottom: 18px;
}
.cartIcon i {
  font-size: 36px;
  line-height: 55px;
  width: 50px;
  height: 56px;
  text-align: center;
}
.cart-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding: 0;
  padding-top: 10px;
  margin: 0 15px 10px;
  border-radius: 0;
  justify-content: space-between;
  align-items: center;
}

.hader-chart {
  padding: 0;
  position: relative;
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
  background-color: #ff004e;
}
/* Login */

.sginIn {
  background-color: #ff004e;
  color: white;
  height: 100%;
  max-height: 100%;
}

.navbar {
  padding: 0 !important;
}
.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  color: #6f6f6f;
  font-weight: 200;
  min-height: 100vh;
  float: right;
  overflow-x: hidden;
  padding: none;
  bottom: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
/* .sidebar-wrapper {
  position: relative;
  color: #6f6f6f;
  height:  calc(95vh - 117px);
  width: 260px;
  z-index: 4;
} */
.sidebar-wrapper a:hover {
  background-color: #dfe3ff;
}
.navbar-brand {
  /* margin-left: 1.2rm; */
  margin-left: 15px;
  margin-right: 0 !important;
}
.navbar-toggler {
  position: absolute;
  top: 47px;
  right: 8%;
}
.navbar-collapse {
  flex-direction: column !important;
  font-size: 17px;
  -ms-flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.navbar-nav :hover {
  text-decoration: none;
}
.navbar-nav {
  display: block !important;
  text-align: right;
  color: #6f6f6f !important;
}
.logo {
  height: 89px;
  width: 137px;
}
.navbar-light .navbar-nav .nav-link.active {
  background-color: #6b18ff;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(156 39 176 / 40%);
  margin-bottom: 8px;
  margin-top: 5px;
  color: #fff !important;
  width: 222px;
}

/* addADS */
.addtype {
  width: 75vw;
}
.addAds {
  white-space: nowrap;
}
.navbarAd {
  background-color: #6b18ff;
  color: white;
  width: 79vw;
  border-radius: 8px;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.nav-link {
  color: white;
}
.nav-link:focus {
  color: white;
}
#nav-dropdown:before {
  font-family: FontAwesome;
  content: '\f055';
}

.addAdsText {
  height: 40px;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #d49dfc, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.file-name {
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

input:hover + label,
input:focus + label,
.submitadd:hover,
.submitadd:focus,.addQuestion:hover {
  transform: scale(1.02);
  outline: none;
}

/* Adding an outline to the label on focus */
input:focus + label {
  outline: none;
  outline: none;
}
#dropdown-item-button {
  position: relative;
  width: 195px;
  background: #fff !important;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgb(50 50 50 / 10%);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #8aa8bd;
}
.dropdown-menu {
  width: -webkit-fill-available;
  text-align: center;
}

.dropdown-menu :before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;
}
.submitadd {
  display: block;
  position: relative;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #d49dfc, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
/* survaycard */
.addBtn {
  background: none;
  color: #ff004e;
  border: none;
}
.survey-card {
  border-radius: 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  background-color: #6b18ff;
  margin-bottom: 30px;
  direction: rtl;
  color: white;
  height: 366px;
  overflow-y: auto;
  
}
 .survey-card::-webkit-scrollbar {
  width: 10px; 
}

/* Track */
.survey-card::-webkit-scrollbar-track {
  background-color: #d49dfc;
   border-radius: 50px;
  margin: 14px;

   
}
 
/* Handle */
.survey-card::-webkit-scrollbar-thumb {
  background: linear-gradient(40deg, #d49dfc, #7873f5);
 
  border-radius: 8px;
}

/* Handle on hover */
.survey-card::-webkit-scrollbar-thumb:hover {
  background: #7873f5; 
}
.imputservary {
  width: 72%;
} .addPoint{width: 12%;}
.dropType {
  width: 335px;
  border-radius:10px !important;
  background-color: #6b18ff !important;
}
.dropType:focus{border:none !important;}
.addQuestion{width: 200px;
  height: 50px; 
  border: none;
  border-radius: 25px;
  background: linear-gradient(
40deg
, #d49dfc, #7873f5);
  box-shadow: 0 4px 7px rgb(0 0 0 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.addAnwens{width: 72%; margin-right: 92px;}
input[type=textarea]{height: 50px; width: 200px;}
@media only screen and (max-width: 768px) {
  .sidebar {
    min-height: 0 !important;
    width: auto !important;
    float: none;
    background-color: white !important;
    position: inherit !important;
  }

  .navbar-brand {
    border-left: none !important;
  }
  .navbar-light .navbar-nav .nav-link.active {
    width: 100%;
  }
  .navbarAd {
    width: 100vw;
  }
  .main {
    width: calc(100%);
  }
  .addtype {
    width: 83vw;
  }
  .dropType {
    width: 169px;
  }
}
